@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Skranji&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  color: rgb(133, 133, 137);
  transition: background-color 300ms ease-in-out;
}

body.show {
  background-color: rgba(0, 0, 0, 0.5);
}

nav {
  width: 100vw;
  padding: 0.8rem 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  color: rgb(145, 145, 149);
  height: 3rem;
  width: 3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}

.hamburger:hover {
  background-color: rgb(241, 241, 241);
}

.side-menu {
  position: fixed;
  max-width: 450px;

  width: 80%;
  height: 100vh;
  top: 0;
  padding: 0.8rem 1.8rem;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.side-menu.show {
  transform: translateX(0);
}

.logo-group {
  width: 100%;
  font-size: 0.9rem;
  font-family: 'Skranji', cursive;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.side-menu-links {
  margin: 1.5rem 0;
}

.link-group {
  margin: 1.3rem 0;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  gap: 1.8rem;
}

.dark-area {
  flex-grow: 10;
  height: 100vh;
  width: 100vw;
}
